/* ==========================================================================
   Bio
   ========================================================================== */

.bio {
  margin-bottom: 25px;
  overflow: hidden;
}

.bio__image {
  border: $image-border;
  float: left;
  margin-right: 25px;
  margin-bottom: 10px;
}

.bio__links {
  float: left;
  ul {
    li {
        float: left;
        width: 50%;
        a {
        color: $text-color;
        border: 0px;
        &:hover {
          color: $link-color;
        }
      }
    }
  }
}

.latest-posts-title {
  clear:both;
}
