/* ==========================================================================
   Portfolio
   ========================================================================== */

/*
   Portfolio Item
   ========================================================================== */

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

.portfolio-item {
  flex-grow: 1;
  flex-basis: 45%;
  background-color: $body-stripe-color;
  padding: 20px;
  margin: 10px;
  position: relative;
}

.portfolio-item__teaser {
  float: left;
  margin: 0px 10px 10px 0px;
}

.portfolio-item__title-wrapper {
  @include font-size(20);
  margin-bottom: 10px;
}

.portfolio-item__title {
  @include font-size(20);
  margin: 0px 0px 5px 0px;
}

.portfolio-item__subtitle {
  @include font-size(16, no);
}

.portfolio-item__date {
  @include font-size(16, no);
}

.portfolio-item__excerpt {
  //clear: both;
  @include font-size(16, no);
}

.portfolio-item__link {
  //display: block;
  //background-color: $text-color;
  //color: $body-color;
  //padding: 5px 20px;
  //font-family: $heading-font;
  //text-transform: uppercase;
  //text-align: center;
  //clear: both;
  //margin-top: 15px;
  @include font-size(16, no);
  font-style: italic;
}
